@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;900&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  animation: fadeIn 2s;
  font-family: "Heebo", sans-serif;
}

.burgerFrame {
  display: flex;
}

.pop-nav {
  height: 0;
  transform: translateY(-100vh);
  transition: all 0.5s ease-in-out;
  margin: 0;
}
.pop-nav a {
  margin: 15px 0;
  display: none;
  letter-spacing: 2px;
  color: black;
}
.pop-nav ul {
  transform: translateY(-100vh);
}
.pop-nav li {
  list-style: none;
}

.pop-nav-show {
  padding: 0;
  height: auto;
  transform: translate(0);
}
.pop-nav-show a {
  display: block;
  text-decoration: none;
}
.pop-nav-show ul {
  transform: translate(0);
  width: 100%;
}
.pop-nav-show li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.226);
  z-index: 100;
}
nav section {
  height: inherit;
  padding: 0;
  margin: 0;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  nav section {
    justify-content: space-between;
  }
}
nav section .burger {
  display: none;
}
@media screen and (max-width: 1023px) {
  nav section .burger {
    display: inline-block;
  }
}
nav section .burger svg {
  fill: #08d0db;
}
nav section ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  nav section ul {
    display: none;
  }
}
nav section ul li {
  display: inline-block;
  margin: 0 30.5px;
}
nav section a {
  font-family: "Heebo", sans-serif;
  display: inline-block;
  color: #2C2C2C;
  text-decoration: none;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  nav section a {
    font-size: 15px;
  }
}

.profilePic {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Satisfy", cursive;
  font-size: 22px;
  font-weight: bold;
  color: black;
}
.profilePic .img {
  background-image: url(../images/assets/My\ pic.jpeg);
  background-position: 1px;
  background-size: 64px;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  margin-right: 10px;
}
.profilePic span {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .profilePic span {
    display: none;
  }
}

li:first-child a {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

ul > li > a:hover {
  color: #1AE0EC;
  scale: 1.1;
  transition: 0.3s;
}

.title {
  min-height: 460.56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(19, 160, 241, 0.302), rgba(19, 232, 241, 0.3019607843)), url(../images/BG-Main-scaled.jpg);
  background-size: cover;
  direction: rtl;

}
.title h1 {
  font: normal normal 900 80px/118px Heebo;
  font-size: 80px;
  color: #3A3A3A;
}
@media screen and (max-width: 768px) {
  .title h1 {
    font-size: 40px;
  }
}
.title p {
  font: normal normal medium 20px/30px Heebo;
  font-size: 20px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .title p {
    width: 90%;
  }
}

.iconsRow {
  height: auto;
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.226);
}
.iconsRow #cssIcon {
  width: 33px;
}
@media screen and (max-width: 678px) {
  .iconsRow #cssIcon {
    width: 28px;
    margin: 20px 10px;
  }
}
.iconsRow #jsIcon {
  height: 45px;
}
.iconsRow img {
  margin: 50px 0;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
  width: 45px;
  margin: 0 35px;
}
.iconsRow img:hover {
  scale: 1.1;
}
@media screen and (max-width: 678px) {
  .iconsRow img {
    width: 38px;
    margin: 20px 10px;
  }
}

#aboutMe {
  display: flex;
  align-items: center;
  flex-flow: column;
  min-height: 300px;
}
#aboutMe .img {
  background-image: url(../images/profilePic.jpg);
  background-size: 150px;
  background-position: 0px;
  height: 141px;
  width: 139px;
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 24px;
}
#aboutMe h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 30px;
}
#aboutMe p {
  max-width: 40%;
  font-size: 18px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #aboutMe p {
    max-width: 90%;
  }
}
#aboutMe a {
  margin: 20px 0 80px 0;
  background-color: #1ae0ec;
  border: none;
  color: black;
  font-size: 18px;
  padding: 5px 20px;
  font-weight: 600;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
}
#aboutMe a:hover {
  scale: 1.05;
}

#gallery {
  background-color: #f3f3f3;
  padding: 60px 0;
  padding-top: 120px;
}
#gallery h2 {
  text-align: center;
  font-weight: bold;
}
#gallery .row {
  max-width: 1100px;
  margin: auto;
  padding: 16px;
}
#gallery .row > div {
  padding: 16px;
}
#gallery .card {
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: 0.6s;
  height: 420px;
}
#gallery .card img {
  height: 180px;
  transition: 0.6s;
  filter: brightness(70%);
}
#gallery .card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.459);
}
#gallery .card:hover img {
  scale: 1.1;
  filter: brightness(100%);
}
#gallery .card .card-body {
  padding: 2rem 1rem;
}
#gallery .card .card-body h4 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Satisfy", cursive;
  color: rgb(80, 79, 79);
}
#gallery .card .card-body p {
  margin-top: 20px;
  font-size: 15px;
}
#gallery .card .card-body a {
  margin-top: 20px;
  border-radius: 30px;
  padding: 6px 32px;
  border: 1px solid rgba(0, 0, 0, 0.315);
}

#contact {
  background-image: linear-gradient(45deg, #3a3a3a, transparent), url(images/envelope.png);
  background-position: 830px 0;
  background-size: 2474px;
  background-color: #3a3a3a;
  padding: 9vh 14vw;
  margin: 0;
  color: white;
}
@media screen and (max-width: 768px) {
  #contact {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  #contact .col-sm-6 {
    width: 100%;
  }
}
#contact a {
  font-family: "Assistant", Sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 40px 10px 40px;
}
#contact h2 {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  #contact {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 130px 0;
  }
}
#contact label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
  border-bottom: 3px solid #1ae0ec;
}
@media screen and (max-width: 768px) {
  .form-control {
    width: 100% !important;
  }
}

#links {
  background-color: #1ae0ec;
  margin: 0;
  text-align: center;
  padding: 25px 0;
  display: flex;
}
@media screen and (max-width: 768px) {
  #links .col-sm-2 {
    padding: 0;
    margin: 0;
    width: 50%;
  }
}
#links img {
  display: block;
  margin: auto;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: 0.5s;
}
#links img:hover {
  scale: 1.1;
}

footer {
  padding: 8px;
  background-color: black;
  color: white;
  text-align: center;
}

.screenShot {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 100px 0px 200px 0px;
  background-color: #eeeeee;
}
.screenShot img {
  width: 1120px;
  height: initial !important;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1168px) {
  .screenShot img {
    width: 95%;  }
}

.dwnbtn {
  margin-bottom: 10px;
  box-sizing: border-box;
  direction: rtl;
}
.dwnbtn img {
  height: 20px;
  margin: 5px 5px;
}
.dwnbtn .btn {
  font-family: "Heebo", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #1ae0ec;
  border-radius: 30px;
  padding: 8px 22px;
  margin: 5px 5px;
  transition: 0.3s;
}
.dwnbtn .btn:hover {
  scale: 0.9;
}